body {
  background-color: #3e4772;
}

#pokemon-boxes-container {
  display: flex;
  justify-content: space-evenly;
  display: none;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.5em;
}

.loading-spinner {
  animation: rotation 3s linear infinite;
  margin-bottom: 10px;
}

@keyframes rotation {
  from {
    transform: rotate(-360deg);}
  to {
    transform: rotate(360deg);
  }
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .search-bar-input {
  background-color: #e5edff;
  border-radius: 6px;
  padding: .5rem;
  font-size: 1.5rem;
} */

.suggestions-list {
  border: 1px solid #ddd;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.pokemon-top-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #b7c6e7;
  width: 40%;
  border-radius: 30px;
  border: 2px solid #000000;
  padding: 3rem;
}

/* .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem;
} */

/* .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-size: 1rem;
  background-color: #ffffff;
  border-radius: 6px;
} */

.sprite-image {
  width: 30%;
  margin: 0 auto;
}

.pokemon-bottom-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #b7c6e7;
  width: 40%;
  border-radius: 30px;
  border: 2px solid #000000;
  padding: 3rem;
}

.moves-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.moves-container {
  background-color: #b7c6e7;
}

.moves-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 30px;
  max-height: 30dvh;
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
}

.move-box {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  background-color: #e5edff;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
}

.random-pokemon-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.random-pokemon-button {
  background-color: #e5edff;
  cursor: pointer;
  padding: 1rem;
  border-radius: 6px;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
}

.random-pokemon-button:hover {
  background-color: #b7c6e7;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  #pokemon-boxes-container {
    flex-direction: column;
    align-items: center;
  }

  .pokemon-top-container {
    margin-bottom: 1rem;
  }

  .sprite-image {
    width: 50%;
    margin: 0 auto;
    padding: 0px;
  }
}