body {
  background-color: #b80000;
}

.pokemon-boxes-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-bar-input {
  border-radius: 6px;
  padding: .5rem;
  font-size: 1.5rem;
}

.search-button {
  width: 5%;
  height: auto;
}

.pokemon-top-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #6bfaf1;
  width: 40%;
  border-radius: 30px;
  border: 2px solid #000000;
  padding: 3rem;
}

/* .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem;
} */

/* .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-size: 1rem;
  background-color: #ffffff;
  border-radius: 6px;
} */

.sprite-image {
  width: 30%;
  margin: 0 auto;
}

.pokemon-bottom-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #6bfaf1;
  width: 40%;
  border-radius: 30px;
  border: 2px solid #000000;
  padding: 3rem;
}

.moves-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.moves-container {
  background-color: #6bfaf1;
}

.moves-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 30px;
  max-height: 30dvh;
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
}

.move-box {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  background-color: #f0f0f0;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .pokemon-boxes-container {
    flex-direction: column;
    align-items: center;
  }

  .pokemon-top-container {
    margin-bottom: 1rem;
  }

  .sprite-image {
    width: 50%;
    margin: 0 auto;
    padding: 0px;
  }
}